.red { background-color: #f02244; }
.blue { background-color: #2e6dcc;}

.initial {
    border: none;
    padding: 10px 20px;
    color: #fff;
    transition: all ease-in .3s;
    min-width: 250px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
}